            <ul class="list-unstyled">
              <li>
                <a href="http://www.wendyzhu.cn"><!-- 请保留友情链接，please remain as friend link-->
                  WendyZhu的博客
                </a>
              </li>
              <li>
                <a href="http://weibo.com/u/5637660979?refer_flag=1001030201_" target="_blank">
                  WendyZhu的微博
                </a>
              </li>	
              <li>
                <a href="/links.html">
                  交换友情链接
                </a>
              </li>				  
            </ul>
